h1 {
    font-size: 20px;
}

.calendar {
    border-top: 2px solid #C0C0C0;
    padding-top: 5px;
}


.calendar p .title {
    font-size :20px;
}

.calendar p .subject {
    font-size: 20px;
    border: 2px solid rgba(0,0,0,0.5);
}

.calendar .button {
    font-size: 18px;
    padding-top: 2px;
}

.title {
    font-size: 20px;
}

body {
    padding-left: 5px;
}

.category p {
    text-decoration: underline;
    font-size: 20px;
}

.mail {
    border-top: 3px solid #333;
}
.mail a {
    background: aqua;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
}

.createcategory a {
    background: orange;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}

.maildata {
    border-top: 3px solid #333;
    margin-bottom: 20px;
}

#edit{
    background: greenyellow;
    padding: 2px 2px;
    border: 2px solid greenyellow;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

#message {
    color:red;
}